<div class="row">
    
    <div class="col-12">

        <h3>Agregar Nuevo Cliente</h3>

        <div class="row">
            <div class="col-12">
                
                <div class="row">

                    <div class="col-12 col-sm-8 col-md-8">
                        <div class="form-group">
                            <label>Nombre(s): <span class="text-danger">*</span></label>
                            <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Ingrese el nombre">
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Apellido paterno: <span class="text-danger">*</span></label>
                            <input type="text" [(ngModel)]="apellido_paterno" class="form-control" placeholder="Ingrese apellido paterno">
                        </div>
                    </div>
    

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Apellido materno: </label>
                            <input type="text" [(ngModel)]="apellido_materno" class="form-control" placeholder="Ingrese apellido materno">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Documento: </label>
                            <select [(ngModel)]="tipo_documento" #ctrl="ngModel" class="form-control show-tick">
                                <option value="" disabled selected>Seleccione tipo de documento</option>
                                <option value="Cedula identidad">Cedula identidad</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Registro civil">Registro civil</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Número Documento: <span class="text-danger">*</span> </label>
                            <input type="text" [(ngModel)]="numero_documento" class="form-control" placeholder="Ingrese número de documento">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Fecha de nacimiento: </label>
                            <input type="date" [(ngModel)]="fecha_nacimiento" #ctrl="ngModel" class="form-control date">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Genero: <span class="text-danger">*</span></label>
                            <select [(ngModel)]="genero" #ctrl="ngModel" class="form-control show-tick">
                                <option value="" disabled selected>Seleccione el genero</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 text-center container">
                        <button class="btn btn-success m-1" (click)="postAgregarCliente()">Registrar cliente</button>
                        <button class="btn btn-danger m-1" (click)="navegarHaciaListaClientes()">Cancelar</button>
                    </div>
                </div>


            </div>
        </div>
        
    </div>
    

</div>